{% extends 'base.html.twig' %}

{% block body %}
  <nav class="navbar navbar-default" role="navigation" id="navegacion">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        
        <ul class="nav navbar-nav navbar-center">
            <li><a href="/">inicio</a></li>
            <li><a href="/categorias">Categorias</a></li>
            
        </ul>
        
    </div>
</nav>
    <div class="container">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Agregar categoria </button>
        
        <div class="panel panel-default">
                       
                        <div class="panel-body">
                            
                            <table width="100%" cellspacing="0" class="table" dt-options="dtOptions" dt-columns="dtColumns" id="user_table">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Activo</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="categorias in category">
                    <td><%categorias.code%></td>
                    <td><%categorias.name%></td>
                    <td><%categorias.description%></td>
                    <td><%categorias.active%></td>
                    
                    <td><button type="button" class="btn btn-warning" ng-click="updatecategory(categorias.id)">Editar</button></td>
                    <td><button type="button" class="btn btn-danger"ng-click="deletecategory(categorias.id)" >Eliminar</button></td>
                </tr>


            </tbody>
        </table>


                            
                        </div>
                    </div>

        
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">Creacion de categorias</div>
                        <div class="panel-body">
                            
                <form id="registercategory">
               <div class="form-group">
                 <label for="">Codigo:</label>
                 <input type="text" class="form-control" name="code" id="codigo">
               </div>
               <div class="form-group">
                 <label for="">Nombre:</label>
                 <input type="text" class="form-control" name="name" id="Nombre">
               </div>
                <div class="form-group">
              <label for="">Descripcion</label>
            <textarea class="form-control rounded-0" name="description" id="descripcion" rows="3"></textarea>
                        </div>
               
              
             </form>    

                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                     <button type="button" class="btn btn-default" ng-click="RegisterCategory()">Guardar</button>
                </div>
            </div>

        </div>
    </div>



    <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body" id="contend">
                    

                </div>
                <div class="modal-footer">
                     <button type="button" class="btn btn-default" ng-click="Updatecategorys()">Guardar</button>
                </div>
            </div>

        </div>
    </div>

    

{% endblock %}

